<% layout("../layouts/boilerplate") %>


<div class="alert alert-danger d-flex align-items-center col-6 offset-3 mt-4" role="alert">
  <div>
    <h4 class="errormsg"> <%= message %>  </h4>
  </div>
</div>